* {
    margin: 0;
    padding: 0;
}

.flex{
    display: flex;
}

.heroChild,.heroChild1,.heroChild2{
    width: 50%;
}

ul { 
    padding: 30px;
    font-size: 32px;
    margin: 0;
    display: flex; 
    justify-content: space-between;
    list-style-type: none;
}  

ul div {
    display: flex;
}

ul div li {
    margin: 0 10px;
}

.CN {
    font-weight: bold;
}


.heroChildLeft{
    display: flex;
    justify-content: center;
    align-items: center;
}

.heroChildLeft div {
    max-width: 60%;
}
.heroChildRight {
    background-image: url("/image/Browser.png");
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}


.heroSection{
    display: flex;
    height: 700px;
}
.heroSection2{
    display: flex;
}
.heroChildLeft1{
    display: flex;
    justify-content: center;
    align-items: center;
}
.heroSection1{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.heroChildLeft1 {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imgBG {
    width: 50%;
    height: 100%;
}

.heroChildRight1 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.heroChildRight1 span {
    background-image: url('/image/Blackbg.png');
}

.heroChildLeft2{
    display: flex;
    justify-content: center;
    align-items: center;
}
.heroChildRight2{
    max-width: 60%;
}
.container3{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.heroChild div p{
    padding-top: 60px;
    padding-bottom: 32px;
}
.heroChild2 p{
    padding-top: 32px;
    padding-bottom: 8px;
}
.container1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 300px;
}
.container2,.container3,.container4{
    height: 80vh;
}

.box1{
    background-color: #333333;
}
.box2{
    background-color: black;
    color: white;
}
.container7,.container8{
    text-align: center;
    height: 500px;
}



.button1{
    color: white;
    background-color: black;
    border-radius: 8px;
    height: 52px;
    width: 10vw;
}
.button2{
    color: white;
}
.button2,.button3,.button4{
    background: none;
    border: none;
}
.container1,.container3{
    background-color: #F2F2F2;
}
.text{
    text-align: center;
}
.logos{
    text-align: center;
}
.logo{
    margin: 30px 20px;
}
.container2{
    background-color:  #333333;
}
p1,p2,.logos1{
    color: white;
}
.logo1{
    margin-right: 10px;
}
.box3,.box4{
    background-color: #F2F2F2;
    width: 50%;
}
